        <div class="footer-border"></div>
        <div class="footer">
            <div class="footer-text-large">COPYRIGHT © 2023 The Hogwarts Express</div>
            <div class="footer-text-small">A Fan-Made Website. For Self-Practice Only. No Business Involved</div>
        </div>
    </body>
</html>