    </head>
    <body>
        <div class="home-navbar">
            <a class="home-navbar-logo-box" href="/chat">
                <img class="home-navbar-logo" src="/images/logo-white.png"/>
            </a>    
            <input class="home-navbar-search-bar" placeholder="Find a Compartment" />
            <div class="home-navbar-buffer"></div>
            <div class="home-navbar-item-box">
                <div class="home-navbar-item-text">Friends<br>Onboard</div>
            </div>
            <div class="home-navbar-item-box">
                <div class="home-navbar-item-text">Add<br>Friends</div>
            </div>
            <div class="home-navbar-item-box">
                <div class="home-navbar-item-text">Video<br>Chat</div>
            </div>
            <div class="home-navbar-item-box">
                <div class="home-navbar-item-text">Login</div>
            </div>
            <!-- <div class="home-navbar-item-box">
                <div class="home-navbar-item-text">Member<br>Center</div>
            </div> -->
        </div>
        <div class="footer-border"></div>
