    </head>
    <body>
        <div class="home-navbar">
            <div class="home-navbar-logo-box" id="home-navbar-logo-box">
                <img class="home-navbar-logo" src="/images/logo-white.png"/>
            </div>    
            <input class="home-navbar-search-bar" placeholder="Find a Car /Car Topic" id="car-search"/>
            <div class="search-bar-result-container" id="search-bar-result-container"></div>
            <div class="home-navbar-buffer"></div>
            <div class="home-navbar-item-box">
                <div id="home-navbar-add-friend" class="home-navbar-item-text">Add<br>Friends</div>
            </div>
            <div class="home-navbar-item-box" id="navbar-chat">
                <div class="home-navbar-item-text">Chat</div>
            </div>
            <div class="home-navbar-item-box" id="navbar-member-center">
                <div class="home-navbar-item-text" id="navbar-member-center-text">Member<br>Center</div>
                <div class="banner-member-center-container" id="banner-member-center-container">
                    <div class="banner-member-center-container-text" id="banner-member-center-username">Erin</div>
                    <div class="banner-member-center-container-img">
                        <img id="banner-member-center-img" src="/images/ravenclaw.png" />
                    </div>
                    <div class="banner-member-center-container-button">
                        <button id="log-out-button">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-border"></div>
