    </head>
    <body>
        <div class="home-navbar">
            <div class="home-navbar-logo-box" id="home-navbar-logo-box">
                <img class="home-navbar-logo" src="/images/logo-white.png"/>
            </div>    
            <input class="home-navbar-search-bar" placeholder="Find a Car" />
            <div class="home-navbar-buffer"></div>
            <!-- <div class="home-navbar-item-box">
                <div class="home-navbar-item-text">Friends<br>Onboard</div>
            </div> -->
            <div class="home-navbar-item-box">
                <div id="home-navbar-add-friend" class="home-navbar-item-text">Add<br>Friends</div>
            </div>
            <!-- <form class="create-car-form" id="add-friend-form">
                <div id="create-car-form-border" class="create-car-form-border-upper"></div>
                <div class="create-car-form-exit" id="add-friend-form-exit">X</div>
                <div id="add-friend-form-head" class="create-car-form-head"> Find Friend</div>
                <label class="create-car-form-label" for="add-friend-form-name-input" id="add-friend-form-name-label" >Name:</label>
                <input class="create-car-form-input" id="add-friend-form-name-input" name="name" type="text" placeholder="Friend's Name" required>
                <button class="create-car-form-button" id="add-friend-form-form-button">Create</button>
            </form> -->
            <div class="home-navbar-item-box" id="navbar-chat">
                <div class="home-navbar-item-text">Chat</div>
            </div>
            <div class="home-navbar-item-box" id="navbar-member-center">
                <div class="home-navbar-item-text" id="navbar-member-center-text">Member<br>Center</div>
                <div class="banner-member-center-container" id="banner-member-center-container">
                    <div class="banner-member-center-container-text" id="banner-member-center-username">Erin</div>
                    <div class="banner-member-center-container-img">
                        <img id="banner-member-center-img" src="/images/ravenclaw.png" />
                    </div>
                    <div class="banner-member-center-container-button">
                        <button id="log-out-button">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <form class="create-car-form" id="add-friend-form">
            <div id="create-car-form-border" class="create-car-form-border-upper"></div>
            <div class="create-car-form-exit" id="add-friend-form-exit">X</div>
            <div id="add-friend-form-head" class="create-car-form-head"> Find Friend</div>
            <label class="create-car-form-label" for="add-friend-form-name-input" id="add-friend-form-name-label" >Name:</label>
            <input class="create-car-form-input" id="add-friend-form-name-input" name="name" type="text" placeholder="Friend's Name" required>
            <button class="create-car-form-button" id="add-friend-form-form-button">Find</button>
            <div>Erin</div>
        </form> -->
        <div class="footer-border"></div>
