<div class="chat-container">
    <div id="chat-container">
        <div class="chat-item" id="direct-to-chat-button">
            <img id="direct-to-chat-button-img" src="/images/airplane.png"/>
            <div id="direct-to-chat-button-border"></div>
        </div>
        <div class="chat-item" id="create-car-button">+
            <form class="create-car-form" id="create-car-form">
                <div id="create-car-form-border" class="create-car-form-border-upper"></div>
                <div class="create-car-form-exit" id="create-car-form-exit">X</div>
                <div id="create-car-form-head" class="create-car-form-head"> Create New Car</div>
                <label class="create-car-form-label" for="create-car-form-name-input" id="create-car-form-name-label" >Name:</label>
                <input class="create-car-form-input" id="create-car-form-name-input" name="name" type="text" placeholder="Car Name" required>
                <label class="create-car-form-label" for="create-car-form-type-input" id="create-car-form-type-label">Type:</label>
                <select class="create-car-form-input" id="create-car-form-type-input" name="type" required>
                    <option id="art" value="art">Art</option>
                    <option id="beast" value="beast">Beast</option>
                    <option id="book" value="book">Book</option>
                    <option id="game" value="game">Game</option>
                    <option id="lifestyle" value="lifestyle">Lifestyle</option>
                    <option id="movie" value="movie">Movie</option>
                    <option id="pet" value="pet">Pet</option>
                    <option id="plant" value="plant">Plant</option>
                    <option id="potion" value="potion">Potion</option>
                    <option id="school" value="school">School</option>
                    <option id="second-hand" value="second-hand">Second-Hand</option>
                    <option id="sport" value="sport">Sport</option>
                </select>
                <button class="create-car-form-button" id="create-car-form-button">Create</button>
            </form>
        </div>
    </div>