<%- include('./partials/setup'); %>
        <link rel="stylesheet" href='/styles/car.css' />
        <script src="/scripts/navbar.js" defer></script>
        <!-- <script src="https://www.thehogwartsexpress.com/socket.io/socket.io.js" defer ></script> -->
        <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
        <script src="/scripts/car.js" defer></script>
<%- include('./partials/header'); %>
<%- include('./partials/sidebar'); %>
            <div id="room-container">
                <div class="room-item" id="create-compartment-button">
                    <div class="room-item-input" id="create-compartment-input">+</div>
                </div>
                <form class="room-item" id="create-compartment-form">
                    <input class="room-item-input"  id="create-compartment-form-input" type="text" placeholder="Type Here" required>
                    <button class="room-item-button" type="submit" id="add-compartment-button">Create</button>
                </form>
            </div>
            <div id="post-container">
                <div class="message-single-container">
                    <img class="message-single-img" src="/images/ravenclaw.png"/>
                    <div class="message-single-name">Erin</div>
                    <div class="message-single-time">2023/2/11</div>
                    <div class="message-single-desc">How are you doing?</div>
                </div>
                <div class="message-single-container">
                    <img class="message-single-img" src="/images/ravenclaw.png"/>
                    <div class="message-single-name">Erin</div>
                    <div class="message-single-time">2023/2/11</div>
                    <div class="message-single-desc">How are you doing?</div>
                </div>
                <form id="chat-send-container">
                    <input type="text" id="message-input" placeholder="Make a Post">
                    <button type="submit" id="send-button" class="send-button">Post</button>
                </form>
            </div>
        </div>
<%- include('./partials/footer'); %>