<%- include('./partials/setup'); %>
        <link rel="stylesheet" href='/styles/compartment.css' />
        <script src="/scripts/navbar.js" defer></script>
        <script>
        const roomName = "<%= roomName %>"
        </script>
        <script src="http://localhost:3000/socket.io/socket.io.js" defer ></script>
        <script src="/scripts/compartment.js" defer></script>
<%- include('./partials/header'); %>
        <div class="compartment-container">
                <div id="message-container">
                        <form id="send-container">
                                <input type="text" id="message-input" placeholder="Type to Chat">
                                <div id="video-button" class="video-button">Floo a Head</div>
                                <button type="submit" id="send-button" class="send-button">Send</button>
                        </form>
                </div>
        </div>
<%- include('./partials/footer'); %>