<%- include('./partials/setup'); %>
                <script>
                        const ROOM_ID = "<%= roomId %>"
                </script>
                <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
                <script src="/socket.io/socket.io.js" defer></script>
                <script src="/scripts/room.js" defer></script>
<%- include('./partials/header'); %>
        <div id="video-container">
                <div id="video-grid"></div>
        </div>
<%- include('./partials/footer'); %>