.compartment-container {
    display: grid;
    height: calc(100vh - 180px);
  }
  
  #message-container {
    /* display: grid; */
    width: inherit;
    place-items: start;
    overflow-y: scroll;
    height: calc(100vh - 220px);
  }

  #send-container {
    position: fixed;
    bottom: 90px;
    background-color: white;
    width: calc(100% - 350px);
    display: grid;
    grid-template-columns: auto 150px 80px;
    font-size: 30px;
    padding-left: 20px;
  }

.video-button {
    display: grid;
    text-align: left;
    place-self: center;
    font-family: 'MagicFont', Times, serif;
    font-size: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 2px solid #3B3838;
    border-radius: 30%;
    cursor: pointer;
    height: 55%;
    background-color: #067D10 !important;
    color: #FFFAFA;
  }
  .send-button {
    place-self: center;
    font-family: 'MagicFont', Times, serif;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    border: 2px solid #3B3838;
    border-radius: 30%;
    cursor: pointer;
    height: 80%;
    background-color: #932020;
    color: #FFFAFA;
  }
  #message-input {
    flex-grow: 1;
    font-size: 30px;
  }

  #chat-room-container {
    display: grid;
  }